.switch-checkbox {
  display: none;
}

.switch-checkbox:checked + .switch-label-theme .ball {
  transform: translateX(24px);
}

.switch-label {
  border-bottom-left-radius: 50% 60% !important;
  border-bottom-right-radius: 50% 60% !important;
  border-top-left-radius: 50% 60% !important;
  border-top-right-radius: 50% 60% !important;
  position: relative;
  height: 26px;
  width: 50px;
  border-radius: 50px;

  background-color: black;
}

.ball {
  position: absolute;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  top: 3.5px;
  left: 5px;
  transition: transform 0.2s linear;
  background-color: aquamarine;
}
