.MuiAutocomplete-endAdornment button {
  border: 0px !important;
  padding: 0px !important;
}

.css-1iv9yy9-MuiAutocomplete-root {
  width: 100%;
  padding-bottom: 50px;
}

.drawer-modal {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
  height: 80%;
  border-radius: 10%;
}

@media screen and (max-width: 867px) {
  .drawer-modal {
    width: 100%;
  }
}
