.row_nasa {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

img {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid #41403e;
  border-color: var(--primary);
  display: block;
  height: auto;
  max-width: 100%;
}
