#root {
  min-height: 100vh;
  background-color: #f8f9fa;
}

button.with-icon {
  display: flex;
}

.w300 {
  width: 300px;
}

.message-nickname {
  display: flex;
  font-weight: bold;
  margin-right: 4px;
}

.message-content {
  border-radius: 50px;
  border-style: 1px solid;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: fit-content;
}

.send-btn {
  height: 38px;
  margin-left: 6px;
}

.card {
  padding: 14px;
  width: 100%;
}

.text-box {
  padding: 6px;
}

.message-time {
  margin-left: 4px;
  color: #aaa;
  font-size: 13px;
  line-height: 2;
}

.chat-window {
  height: 400px;
  width: 100%;
  overflow-y: auto;
}
.chat-window::-webkit-scrollbar {
  display: none;
}

.otherUser {
  margin-left: auto;
  margin-right: 0;
}

.otherUser .message-nickname {
  float: right;
}

.otherUser .message-content {
  float: right;
}

.otherUser .message-time {
  margin-left: 4px;
  color: #aaa;
  font-size: 13px;
  line-height: 2;
  float: right;
}
