.card {
  --primary: none;
}

.card {
  width: 15rem;
}

.card a {
  background-image: none;
}

.card-body h3 {
  font-size: 1rem;
}

.card-body h4 {
  font-size: 0.9rem;
}

.article nav {
  display: block;
}

.article hr:after {
  content: "";
}

.breadcrumb a {
  font-size: 0.8rem;
}

ul.breadcrumb li + li:before {
  content: "\A0\A0\A0,";
  /* padding: 8px; */
}
