@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900&display=swap");
@import url("https://unpkg.com/css-aspect-ratio@1/css-aspect-ratio.css");

:root {
  --color-bug: #f35e5e;
  --color-text: #f35e5e;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: none;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 60px;
}

.collapsible h4 {
  font-size: 0.6rem;
}

.btn-tomato,
.btn-outline-dark {
  border-radius: 16px;
  display: inline-block;
  padding: 7px 15px;
  font-size: 13px;
  color: #ffffff;
  background-color: #f35e5e;
}
.btn-tomato:hover,
.btn-outline-dark:hover {
  color: #ffffff;
}
.btn-tomato.btn-lg,
.btn-lg.btn-outline-dark {
  height: 48px;
  border-radius: 24px;
  min-width: 160px;
}

/*----------------------------Custom-Error-Page-Css----------------------------*/

.error-code {
  display: flex;
  grid-gap: 4vw;
  position: relative;
  border: 0;
  background: none;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  padding: 4vw;
  border-radius: 1vw;
  transition: all 250ms ease;
}
.error-code:after {
  content: "Looks like you found a bug.";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: var(--color-text);
  opacity: 0;
  transition: all 500ms ease;
  transition-delay: 1000ms;
}
.error-code:hover:after {
  opacity: 1;
}
.error-code:hover .cell.filled:nth-child(1) {
  transform: rotate(15deg);
}
.error-code:hover .cell.filled:nth-child(2) {
  transform: rotate(30deg);
}
.error-code:hover .cell.filled:nth-child(3) {
  transform: rotate(45deg);
}
.error-code:hover .cell.filled:nth-child(4) {
  transform: rotate(60deg);
}
.error-code:hover .cell.filled:nth-child(5) {
  transform: rotate(75deg);
}
.error-code:hover .cell.filled:nth-child(6) {
  transform: rotate(90deg);
}
.error-code:hover .cell.filled:nth-child(7) {
  transform: rotate(105deg);
}
.error-code:hover .cell.filled:nth-child(8) {
  transform: rotate(120deg);
}
.error-code:hover .cell.filled:nth-child(9) {
  transform: rotate(135deg);
}
.error-code:hover .cell.filled:nth-child(10) {
  transform: rotate(150deg);
}
.error-code:hover .cell.filled:nth-child(11) {
  transform: rotate(165deg);
}
.error-code:hover .cell.filled:nth-child(12) {
  transform: rotate(180deg);
}
.error-code:hover .cell.filled:nth-child(13) {
  transform: rotate(195deg);
}
.error-code:hover .cell.filled:nth-child(14) {
  transform: rotate(210deg);
}
.error-code:hover .cell.filled:nth-child(15) {
  transform: rotate(225deg);
}
.error-code:hover .cell.filled:nth-child(16) {
  transform: rotate(240deg);
}
.error-code:hover .cell.filled:nth-child(17) {
  transform: rotate(255deg);
}
.error-code:hover .cell.filled:nth-child(18) {
  transform: rotate(270deg);
}
.error-code:hover .cell.filled:nth-child(19) {
  transform: rotate(285deg);
}
.error-code:hover .cell.filled:nth-child(20) {
  transform: rotate(300deg);
}
.error-code:hover .cell.filled:nth-child(21) {
  transform: rotate(315deg);
}
.error-code:hover .cell.filled:nth-child(22) {
  transform: rotate(330deg);
}
.error-code:hover .cell.filled:nth-child(23) {
  transform: rotate(345deg);
}
.error-code:hover .cell.filled:nth-child(24) {
  transform: rotate(360deg);
}
.error-code:hover .number {
  grid-gap: 2vw;
}
.error-code:hover .bug {
  transform: translateY(-200vh);
  transition-delay: 500ms;
}
.error-code:hover .bug:before {
  top: -0.5vw;
}
.error-code:hover .bug:after {
  left: -0.75vw;
  right: -0.75vw;
  height: 1.5vw;
}

.number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transition: all 500ms ease;
  grid-gap: 0.25vw;
  margin: auto 2vw;
}

.cell.filled {
  transition: all 500ms ease;
}

.bug {
  background: var(--color-bug);
  transition: transform 4000ms ease;
  width: 2.25vw;
  height: 2.5vw;
  position: relative;
  border-radius: 100%;
  transition-delay: 0;
}
.bug:before {
  content: "";
  height: 1.5vw;
  width: 1.5vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0.375vw;
  background: var(--color-bug);
  border-radius: 100%;
  z-index: -1;
  transition: all 1000ms ease;
}
.bug:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  height: 0;
  transition: all 250ms ease;
  animation: infinite skitter 100ms ease;
  background: top left/100% 100%
      linear-gradient(
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      ),
    top left/100% 100%
      linear-gradient(
        to bottom right,
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      ),
    top left/100% 100%
      linear-gradient(
        to bottom left,
        transparent,
        transparent 45%,
        var(--color-bug) 45%,
        var(--color-bug) 55%,
        transparent 55%
      );
}

.btn_theme {
  position: fixed;
  right: 78px;
  bottom: 19px;
  display: inline-block;
  width: 136px;
  height: 53px;
  background-position: -270px -110px;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
  z-index: 100;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_16ad06.png);
  -webkit-background-size: 433px 409px;
  background-size: 433px 409px;
  background-repeat: no-repeat;
}

.btn_theme[aria-pressed="true"] {
  display: inline-block;
  width: 148px;
  height: 53px;
  background-position: -270px 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

.btn_theme[aria-pressed="false"] {
  display: inline-block;
  width: 136px;
  height: 53px;
  background-position: -270px -55px;
  background-repeat: no-repeat;
  vertical-align: top;
}

@keyframes skitter {
  0%,
  100% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(35deg);
  }
}


/*블로그 영역*/
.row .child-borders {
  margin-left: auto;
}
.card {
  --primary: none;
}

.card {
  width: 15rem;
}

.card a {
  background-image: none;
}

.card img {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.card .cardBody {
  padding: 0.25rem;
}

.cardBody h3 {
  font-size: 1rem;
}

.card-body h4 {
  font-size: 0.9rem;
}

.article nav {
  display: block;
}

.article hr:after {
  content: "";
}

.breadcrumb a {
  font-size: 0.8rem;
}

ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}

ul.breadcrumb li + li:before {
  content: "\A0\A0\A0,";
  /* padding: 8px; */
}

.paper-btn.btn-small,
[type="button"].btn-small,
button.btn-small {
  padding: 0.25rem;
}

@media screen and (max-width: 767px) {
  article .article-title {
    font-size: 2rem;
  }
  article h2 {
    font-size: 1.5rem;
  }

  article h3 {
    font-size: 1.2rem;
  }

  article ol li {
    font-size: 1rem;
  }

  article .text-lead p {
    font-size: 1rem;
  }
}

/*채팅영역*/
#root {
  min-height: 100vh;
  background-color: #f8f9fa;
}

button.with-icon {
  display: flex;
}

.w300 {
  width: 300px;
}

.message-nickname {
  display: flex;
  font-weight: bold;
  margin-right: 4px;
}

.message-content {
  border-radius: 50px;
  border-style: 1px solid;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: fit-content;
}

.send-btn {
  height: 38px;
  margin-left: 6px;
}

.card_msg {
  padding: 14px;
  width: 100%;
}

.text-box {
  padding: 6px;
}

.message-time {
  margin-left: 4px;
  color: #aaa;
  font-size: 13px;
  line-height: 2;
}

.chat-window {
  height: 400px;
  width: 100%;
  overflow-y: auto;
}
.chat-window::-webkit-scrollbar {
  display: none;
}

.otherUser {
  margin-left: auto;
  margin-right: 0;
}

.otherUser .message-nickname {
  float: right;
  clear: both;
}

.otherUser .message-content {
  float: right;
  clear: both;
}

.otherUser .message-time {
  margin-left: 4px;
  color: #aaa;
  font-size: 13px;
  line-height: 2;
  float: right;
  clear: both;
}

/* Space 영역 */
.row_nasa {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column img {
  margin-top: 8px;
  vertical-align: middle;
}

img {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid #41403e;
  border-color: var(--primary);
  display: block;
  height: auto;
  max-width: 100%;
}

/* 포켓몬 영역 */
.MuiAutocomplete-endAdornment button {
  border: 0px !important;
  padding: 0px !important;
}

.MuiAutocomplete-root {
  width: 100% !important;
  padding-bottom: 50px;
}

.drawer-modal {
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  text-align: center;
  height: 80%;
  border-radius: 10%;
}

@media screen and (max-width: 867px) {
  .drawer-modal {
    width: 100%;
  }
}

/* TODO 영역 */
.balloon {
  position: absolute;
  left: 0;
  bottom: -120px;
  height: 120px;
  width: 100px;

  line-height: 115px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-radius: 80%;
  animation: move 6s infinite linear;
  display: block;
}
.stick {
  content: "";
  width: 0.1rem;
  height: 50%;
  background: rgba(50, 50, 50, 0.8);
  display: inline-block;
  position: absolute;
  overflow: visible;
}
/* .balloon:nth-child(even) {
  left: 120px;
  animation-delay: 2s;
}
.balloon:nth-child(odd) {
  left: 240px;
  animation-delay: 4s;
} */
@keyframes move {
  0% {
    bottom: -120px;
  }
  100% {
    bottom: 100%;
  }
}

.postMain {
  height: 100px;
  width: 100% !important;
}

.postCard {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.postContent {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MuiPagination-ul li:before {
  content: "" !important;
}

.MuiPagination-ul li button {
  border-radius: 50px;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
}



/* glyphy영역*/

.close {
  position: absolute;
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 20px;
}

.close:after {
  content: "\00d7";
  font-size: 15pt;
  line-height: 50px;
}

.giphyDiv {
  height: 380px;
  overflow: scroll;
}

.giphyDiv::-webkit-scrollbar {
  display: none;
}

.imgDiv {
  border-style: dotted;
  text-align: center;
}

.imageListDiv {
  height: 380px;
}

.imageListDiv::-webkit-scrollbar {
  display: none;
}

div #searchInput {
  width: 100%;
}

div .imgLoadingDiv {
  text-align: center;
}

.imgLoadingDiv h4 {
  margin-top: 150px;
}
